# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Виртуальные окружения
.env
.env.*
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Логи
*.log

# Временные файлы
*.tmp
posted.json.tmp
